<div>
    <table class="w3-table w3-striped">
        <tr class="w3-green">
            <th>
                {{currency.code}}&nbsp;&nbsp;|&nbsp;&nbsp;{{currency.currency}}
            </th>
            <th></th>
        </tr>
        <tr class="w3-dark-gray">
            <th>
                Data
            </th>
            <th>
                Wartość
            </th>
        </tr>
        <tr ng-repeat="curr in currency.rates">
            <td>
                {{curr.effectiveDate | date: "dd-MM-yyyy"}}
            </td>
            <td>
                {{curr.mid}}
            </td>
        </tr>
    </table>
</div>