<div>
    <table class="w3-table w3-striped w3-centered"> 
        <tr class="w3-green">
            <th>
                Waluta ({{pData.effectiveDate | date: "dd-MM-yyyy"}})
            </th>
            <th>
                Wartość
            </th>
        </tr>
        <tr ng-repeat="data in pData.rates" class="w3-hover-green" ng-click="openCurrency(data)">
            <td style="text-align: left !important">
                {{data.code}}&nbsp;&nbsp;|&nbsp;&nbsp;{{data.currency}}
            </td>
            <td>
                {{data.mid}}
            </td>
        </tr>
    </table>
</div>
