<div id="bookListWrapper">
    <br />
        <form role="form">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Wyszukaj naprawy..." ng-model="searchStr">
            <md-select ng-init="SelectorNapraw" ng-model="SelectorNapraw"></md-select>
        </div>
        </form>

        <table class="w3-table w3-striped w3-centered">
            <tr style="background-color:#4F84C4">
                <th style="color:white">First Name</th>
                <th style="color:white">Last Name</th>
                <th style="color:white">Points</th>
            </tr>
            <tr>
                <td>ELo</td>
                <td>Siema</td>
                <td>50</td>
            </tr>
            <tr>
                <td>Elo</td>
                <td>lol</td>
                <td>45</td>
            </tr>
        </table>
        
        <div class="row w3-gray">
            <div class="col-xs-12">
                <form>
                    <md-input-container style="width: 100%">
                        <input ng-model="modelTxt" placeholder="Podaj kwotę" ng-change="txtChanged(modelTxt)">
                    </md-input-container>
                </form>
            </div>
        </div>

        <md-button class="w3-green" ng-click="clickLipka()">
            Click ok
        </md-button>
        
        <div style="width: auto">
            <mdp-time-picker mdp-auto-switch="true" ng-model="currentTime"></mdp-time-picker>
        </div>

        <div class="w3-row">
            <div class="demo-select-all-checkboxes" flex="100" ng-repeat="item in selections">
                <md-checkbox ng-checked="exists(item, selected)" ng-click="toggle(item, selected)">
                    {{ item }}
                </md-checkbox>
            </div>
        </div>

        <div class="w3-row">
            <md-select ng-model="selectedContactType" multiple>
                <md-option ng-click="clickContact()" ng-repeat="ct in contactTypes" ng-value="ct">
                    {{ ct }}
                </md-option>
            </md-select>
        </div>

        <div>
            <md-button ng-click="checkVarBtn()">Check local variables</md-button>
        </div>

        <div></div>
        <!--<ul class="list-unstyled">
            <li class="book" ng-repeat="book in books | filter:searchStr"
                style="background: white url('imgs/{{book.imgUrl}}') no-repeat">
                <div class="book-details clearfix">
                    <h3>{{book.name}}</h3>
                    <p>{{book.price | currency:'Rs.'}}</p>
                    <ul class="list-unstyled list-inline">
                        <li>Rating: {{book.rating}}</li>
                        <li>Binding: {{book.binding | uppercase}}</li>
                        <li>Publisher: {{book.publisher}}</li>
                        <li>Released: {{book.releaseDate}}</li>
                    </ul>
                    <p>{{book.details}}</p>
                    <button class="btn btn-info pull-right" ng-click="addToKart(book)">Add to Kart</button>
                </div>
            </li>
        </ul>-->
</div>